Act1/Activity1Client/Service References/Activity1ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sumOfDigits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sumOfDigitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumOfDigitsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numVowels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numVowelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numVowelsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>